{{ $element :=  first .Site.Params.HomePosts (where .Site.RegularPages.ByDate.Reverse "Section" "bits") }}

{{ if $element }}
<section class="page-section portfolio pb-5" id="bits">
	<div class="container">
		<!-- Portfolio Section Heading-->
		<h2 class="page-section-heading text-center text-uppercase text-secondary">Recent Bits</h2>
		<!-- Icon Divider-->
		<div class="divider-custom">
			<div class="divider-custom-line"></div>
			<div class="divider-custom-icon"><em class="fas fa-star"></em></div>
			<div class="divider-custom-line"></div>
		</div>
		<div class="row justify-content-center">
			<!-- Portfolio Item 1-->
			{{ range $index, $element }}
			<div class="col-md-4">
				<div class="card mb-4">
					<a href="{{.Permalink}}" class="stretched-link"></a>
					<div class="card-body">
						<h5 class="card-title">{{ .Title }}</h5>
					</div>
				</div>
			</div>
			{{ end }}
		</div>
		<div class="row justify-content-center py-2">
			<a class="col mx-3 btn btn-primary rounded-pill" href="{{ .Permalink }}bits/" style="max-width: 375px">
				<h5 class="card-title px-5 pt-1 text-white">View all bits</h5>
			</a>
		</div>
	</div>
</section> 
{{ end }}

