{{ if eq .Type "bits" }}
	{{ partial "card.html" (dict "link" .Permalink
	                                "title" .Title) }}

{{ else if eq .Type "posts" }}
	{{ $thumbnail := (default "thumbnail.png" .Page.Params.Thumbnail) }}
	{{ partial "card.html" (dict "link" .Permalink
	                                "title" .Title
									"image" $thumbnail ) }}

{{ else if eq .Type "projects" }}
	{{ $thumbnail := (default "thumbnail.png" .Page.Params.Thumbnail) }}
	{{ partial "card.html" (dict "link" .Permalink
	                                "title" .Title
									"image" $thumbnail
									"summary" .Page.Params.Summary) }}

{{ end }}
