<div class="row mt-5 mb-3">
	{{ if gt .Paginator.TotalPages 1 }}
	<div class="col-6 text-left">
		{{ if .Paginator.HasPrev }}
		<a class="btn btn-primary btn-lg col-12" href="{{ .Paginator.Prev.URL }}"><span class="h1 text-white px-5">◀</span></a>
		{{ else }}
		<a class="btn btn-light btn-lg col-12 disabled" href="#"><span class="h1 px-5">◀</span></a>
		{{ end }}
	</div>
	<div class="col-6 text-right">
		{{ if .Paginator.HasNext }}
		<a class="btn btn-primary btn-lg col-12" href="{{ .Paginator.Next.URL }}"><span class="h1 text-white px-5">▶</span></a>
		{{ else }}
		<a class="btn btn-light disabled btn-lg col-12" href="#"><span class="h1 px-5">▶</span></a>
		{{ end }}
	</div>
	{{ end }}
</div>
